sudo : required

services :
  - docker

before_install :
  - docker build -t sounakraycolumbia/docker_react_git -f Dockerfile.dev .

script :
  - docker run -e CI=true sounakraycolumbia/docker_react_git npm run test -- --coverage

deploy :
  provider : elasticbeanstalk
  region : "us-east-2"
  app : "docker-react-git"
  env :  "Dockerreactgit-env"
  bucket_name : "elasticbeanstalk-us-east-2-281307845866"
  bucket_path: "docker-react-git"
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"
  on:
    branch: main